.bannerAd__theme--red {
  background-color: #c3063b;
}

.bannerAd__container {
  padding: 20px 10px;
}
.bannerAd__title {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.bannerAd__content {
  margin: 0 20px;
  padding: 0;
  font-size: 7px;
}
