section.bannerAd__theme--red.bannerAd__container.shelf.flex-center
  i.glyphicon.glyphicon-menu-left
  .bannerAd__content.stack
    h4.bannerAd__title Here's some stuff
    p.bannerAd__content out and get it
