nav.navbar-inverse.searchBar__nav
  form(role="search")
    .form-group.has-feedback.has-feedback-left
      input.form-control(
        ng-model="searchInput"
        type="text"
      )
      i.form-control-feedback.glyphicon.glyphicon-search
